swagger: '2.0'
info:
  title: Translate API
  description: This API provides a simple interface for translating an arbitrary string into any supported language.
  version: '1.0'
host: api-demov3.sensedia.com
basePath: /translate-api/v1
tags:
  - name: Translate
security:
  - client_id: []
  - access_token: []
securityDefinitions:
  client_id:
    type: apiKey
    in: header
    name: client_id
  access_token:
    type: apiKey
    in: header
    name: access_token
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /translations:
    post:
      tags:
        - Translate
      summary: Create a simple translated text
      description: Responsible for translating simple texts to another language.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
             $ref: '#/definitions/translateRequest'
      security:
        - client_id: []
        - access_token: []
      responses:
        '200':
          description: Success.
          schema:
            type: object
            description: Object representation of a translation response.
            properties:
              text:
                type: string
                description: The source language.
        '500':
          description: Internal server error.
definitions:
  translateRequest:
    type: object
    description: Object representation of a translation request.
    required: ["source", "target", "text"]
    properties:
      source:
        type: string
        description: The source language.
      target:
        type: string
        description: The target language.
      text:
        type: string
        description: The text to be translated.
      